.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Inline-user{
height: 360px;
width: 300px;
border: 1px solid #6d6976;
padding: 10px;
}
.profile-img{
    height: 250px;
    width: 100%;

}
.user-name{
    margin: 10px 0;
    
}
.email{
    margin: 0;
}